.topbar {
    border: 1px solid white;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-template-areas: "left right";
    align-items: center;
}

img[src="./images/logo.svg"] {
    width: 32px;
    height: 32px;
}

.topbar__leftSide {
    width: 100%;
    height: 50px;
    border: 1px solid red;
    display: grid;
    justify-content: left;
    gap: 5rem;
    align-items: center;
    grid-template-columns: 5;
    grid-template-rows: 1;
    grid-template-areas: "logo link link link link";
}

.topbar__rightSide {
    width: 100%;
    height: 50px;
    border: 1px solid blue;
    display: grid;
    justify-content: right;
    gap: 5rem;
    align-items: center;
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-template-areas: "switch button";
}

.switch__container {
    display: block;
    background-color: rgb(58, 186, 180);
    border-radius: 20px;
}

.request__button {
    height: 4rem;
    width: 13.738rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(58, 186, 180);

}

/*fine-header-----------*/
.title__container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    grid-template-areas:
        "title"
        "subititle"
        "button";
    width: 100%;
    height: 70vh;
    justify-items: center;
    text-align: center;
    align-content: center;
    gap: 20px;

}

.title__container--button {
    height: 4.8rem;
    width: 16.938rem;
    border-radius: 5px;
    border: none;
    background-color: #3abab4;
    margin-top: 1rem;
}

/*fine-first-container------*/

/*inizio-griglia----*/
.grid {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
    grid-template-areas:
        "logo logo logo logo"
        "logo logo logo logo";
    justify-content: center;
    gap: 1rem;
}

.grid>div {
    width: 22rem;
    height: 9.6rem;
    border: 1px solid #6e6e76;
    display: grid;
    justify-items: center;
    align-items: center;

}

.grid>div>img {
    fill: #6e6e76;
}

/*fine griglia-----*/

/*inizio seconda sezione*/

.videoimg {
    /*background-image: url(../images/video-testimonial.jpg);*/
    width: 91rem;
    height: 53.6rem;
    margin-top: 6rem;
    background-image: url(../images/video-testimonial.jpg);
    background-size: cover;
    position: relative;
}

.videoimg__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.social {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    grid-template-areas: "logo""description""author";
    justify-items: center;
    gap: 2rem;
    border: 1px solid grey;
    margin-top: 6rem;
    position: relative;
    transform: skew(-2.5deg);
    height: max-content;



}

.social__author {
    display: flex;
    align-items: baseline;
    gap: 1rem;

}

img[src="/images/twitter.svg"] {
    margin-top: 2.5rem;
}

.social>button {
    width: 5.6rem;
    height: 5.6rem;
    background-color: #2E2E33;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.social__arrowL {
    top: 50%;
    left: -3%;
    transform: skew(2.5deg);

}

.social__arrowR {
    top: 50%;
    right: -3%;
    transform: skew(2.5deg);

}

.footcontainer {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 2;
    grid-template-areas: "logo ul ul ul ul";
    gap: 5rem;
    white-space: nowrap;
}

.pie-di-pag {
    display: grid;
    grid-template-columns: 3;
    grid-template-areas: "p link button";
    justify-content: space-between;
    column-gap: 3rem;
    padding: 8rem;
}

.footer__logo {
    height: 3.2rem;
    width: 3.2rem;
}

.footcontainer h2 {
    font-size: 2rem;
}