.topbar__leftSide>a {
    color: white;
}

.topbar__rightSide>button {
    color: white;
}
/*fine-topbar-------------*/
/*inizio-first-section------*/
.title__container>h1{
    color: white;
    line-height: 1.2;
}
.title__container>h5{
    color: #a2a2a8;
    line-height: 1.2;
    font-weight: lighter;
}
.title__container--button{
    color:white;
}
 /*end second section....*/

 /*start third section...*/
 .social>h5{
     text-align: center;
     font-size: 2.6rem;
     color: #a2a2a8;
     line-height: 1.3;
 }
 .social__author{
    font-family: 'Inter', sans-serif ;
    font-size: 1.8rem;
    color: #a2a2a8;
 }
 

.social__author>cite{
    color: white;
    font-style: normal;
    font-weight: 800;
}
.social__author>p>a{
    color: #3ABAB4;
    font-weight: 800;
}