/*-------------- TOPBAR -------------- */


.topbar__leftcontainer>a {
    text-decoration: none;
    color: rgb(212 212 216);
    font-weight: bold;
    align-self: center;

}

.topbar__button {
    color: white;
    font-weight: 800;

}

/*-------------- END OF TOPBAR -------------- */
/*-------------- FIRST SECTION -------------- */

.container__left--title>h1 {
    font-size: 9rem;
    color: #f4f4f5;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 1.1;
}

.cardNumber__text::placeholder {
    font-size: 1.6rem;
    color: #a29b9d;
}

.container__left--description>p {
    font-size: 2rem;
    font-weight: bold;
    color: #A2A2A8;
}

.card__container--right {

    width: 30%;
    height: max-conpx;
    display: flex;
    justify-content: center;


}

/*-------------- END FIRST SECTION -------------- */
/*-------------- SECOND SECTION -------------- */
li>span {
    color: #4fd1c5;
}

.topcontainer>h1 {
    font-size: 6rem;
    color: #f4f4f5;
}

.topcontainer>p {
    font-size: 2.5rem;
    color: #9a9a9b;
}


.block__info>h1 {

    color: #f4f4f5;
    font-size: 5.6rem;
}

.block__info>p {
    color: #9a9a9b;
}

.s2title>h1 {
    font-size: 6rem;
    color: #f4f4f5;
}

.s2picture__btnLearn {
    color: white;
}

.s2picture__btnService {
    color: white;
    font-size: 1.2rem;
}

.videoDescription__visual {
    font-size: 1.2rem;
}

/*-------------- END SECOND SECTION -------------- */
/*----------------- THIRD SECTION --------------- */

.s2title>p {
    font-size: 2rem;
    color: #9a9a9b;
}

.s3top>h1 {
    align-self: center;
    color: #f4f4f5;
    font-size: 5rem;
}

.s3top>p {
    align-self: center;
    color: #9a9a9b;
    font-size: 2rem;
}

/*-------------- END THIRD SECTION -------------- */
/*---------------FOURTH SECTION --------------- */
.s4title {
    margin-top: 10rem;
    font-size: 6rem;
    text-align: center;
    color: #f4f4f5;
}

.s4subtitle {
    font-size: 2rem;
    text-align: center;
    color: #9a9a9b;
}

#navbar>button {

    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;


}

/*-------------- END FOURTH SECTION -------------- */
/*------------------FIFTH SECTION --------------- */
.s5top>h1 {
    font-size: 5.6rem;
    color: white;
    align-self: center;
    line-height: 1.3;
}

.s5top>p {
    font-size: 2rem;
    color: #a2a29b;
    align-self: center;
}

.flex-row>span {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
}

.box__middle>span:nth-child(1) {
    font-weight: bold;
    font-size: 4rem;
    color: #f4f4f5;
}

.box__middle>span:nth-child(2) {
    color: #9a9a9b;
    font-size: 1.6rem;
}

.box__middle>p {
    color: #9a9a9b;
}

.button__style--1 {

    font-family: 'Inter', sans-serif;
}

.button__style--2 {

    font-family: 'Inter', sans-serif;
}

.box__pricetag {
    font-size: 1.2rem;
    color: #3ec9c5;
}


.list>p {
    font-size: 1.8rem;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
}

/*-------------- END FIFTH SECTION -------------- */
/*----------------- SIXTH SECTION --------------- */
.s6card__testimonial--box>p {
    font-size: 2rem;
    font-weight: bold;

}



.name {

    color: rgb(255, 255, 255);
    font-weight: bold;

}

.site {

    color: #3abab4;
    font-weight: bold;
}

/*-------------- END SIXTH SECTION -------------- */
/*--------------- SEVENTH SECTION --------------- */
.s7title {
    font-size: 5.6rem;
    text-align: center;
    color: white;
    margin-top: 10rem;
}


.infobox__square--details>h5 {
    color: white;
}

.infobox__square--details>p {
    color: white;
}

.s7card__endbar>h4 {
    align-self: center;
    color: white;
}

.s7card__endbar>label {
    align-self: center;

}

.s7list__block>ul {
    color: #A2A2A8;
    font-size: 1.4rem;
    line-height: 1.4;
}