@media screen and (min-width:1400px) {
    body {
        padding: 0 21%;
        width: max-content;
    }

    .card__container--left {
        gap: 2rem;
    }

    .s7list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .s7list__block>ul>li>a {
        font-size: 1.4rem;
    }

    .s7list__block>p a {
        font-size: 1.4rem;
    }

}