@media screen and (min-width:1400px) {
    body {
        padding: 0 21%;
    }

    .card__container--left {
        gap: 2rem;
    }

    .s7list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .s7list__block>ul>li>a {
        font-size: 1.4rem;
    }

    .s7list__block>p a {
        font-size: 1.4rem;
    }

    .logo--footer {
        align-self: flex-start;
    }

    .s2picture {
        display: flex;
        width: 200vw;
        height: max-content;
        gap: 3rem;
        position: absolute;
        top: 50%;
        left: 14.2%;
        justify-content: center;
        transform: translate(-50%, -50%);
    }
}