@media screen and (min-width:992px) and (max-width:1300px){

    
    body{
     padding: 0% 6%;
    }
/*------------------TOPBAR-----------------------*/
.topbar__leftcontainer>a {
   font-size: 1.6rem;
  
  }
/*------------------- END OF TOPBAR -----------------*/
/*    aspect-ratio: auto 352 / 198;*/
/*-------------------SECTION ONE----------------*/
.s1card {
    margin-top: 8rem;
  }


  .s1card__description>a {
    font-size: 1.6rem;
  }

  /*------------------- END OF SECTION ONE -----------------*/
/*-------------------SECTION TWO----------------*/

.popular {
    align-self: flex-start;
    width: max-content;
}

.article>picture>img {
    height: 19.8rem;
    width: 35.2rem;
    aspect-ratio: auto 352 / 198;
  }

  .button__article {
    margin: 3rem 0rem;
  }
  
 /*------------------- END OF SECTION TWO -----------------*/
/*------------------- FOOTER ----------------*/


.s7list__block>ul>li>a{
    font-size: 1.4rem;
}

.s7list__block>p a{
    font-size: 1.4rem;
}



    
}