@media screen and (max-width:992px) and (min-width:768px){
    body{
        padding:0 1% ;      
    }
.block__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 0;
    margin-bottom: 6rem;
    margin-top: 3rem;

   
    
}
.block{
    height: max-content;
    margin: 0;
}
.green{
    width: 100%;
    height:max-content;
    grid-row: 1;
    grid-column: 1;
}

.purple{
    width: 100%;
    height: max-content;
    grid-row: 1;
    grid-column: 2;
}
.blu{
    width: 100%;
    height: max-content;
    grid-row: 2;
    grid-column: 1;
    
}
.red{
    width: 100%;
    height: max-content;
    grid-row: 2;
    grid-column: 2;
    
}

.s2Card{
    flex-direction: column;
    
}
.container{
    width: 100%;
    justify-content: flex-start;
}
.s2rightContainer{
    width: 100%;
}
.popular{
    width: 100%;
    margin-bottom:5rem ;
}
.latest__images{
    justify-content: flex-start;
}
.article>picture>img{
    width: 46rem;
    height: auto;
}




}