
/* <!-- topbar -->  */
.topbar_button:hover {background-color: #066661}
  
.topbar_button:active {
  background-color: #3abab4;
  transform: translateY(4px);
}

.topbar_switch {

    cursor: pointer;
}

/* <!-- Second section> */

.cardNumber__request:hover {background-color: #066661}

.s2_arrowbuttonL {cursor: pointer}

.s2_arrowbuttonL:hover {background-color: #066661;

}

.s2_arrowbuttonR {cursor: pointer}