section {
  /*height: 100vh;*/
  border: 1px solid black;

}

body{
  background-color: #39393f;
}
.topbar {
  border: 1px solid rgb(9, 99, 110);
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topbar_leftcontainer {
  height: 100%;
  border: 1px solid blue;
  margin-left: 5vw;
  display: flex;
  gap: 40px;
}

.topbar_rightcontainer {
  height: 100%;
  border: 1px solid rgb(255, 8, 0);
  width: max-content;
  display: flex;
  gap: 15px;
  justify-content: space-around;
  margin-right: 5vw;
}

.logo {
  width: 50px;
  height: 50%;
  border: 1px solid black;
  align-self: center;
}

.topbar_leftcontainer > a {
  font-size: 1rem;
  text-decoration: none;
  color: rgb(212 212 216);
  font-weight: bold;
  align-self: center;
}

.switchbtn {
  height: 25px;
  width: 45px;
  border-radius: 20px;
  background-color: #3abab4;
  display: flex;
  flex-direction: row-reverse;
  padding: 3px;
  justify-content: space-between;
  align-self: center;
}

.switchbtn > div:first-child {
  background-color: #39393f;
  height: 20px;
  width: 20px;
  align-self: center;
  border-radius: 50%;
}
.switchbtn > div:last-child {
  background-color: #80d2ce;
  height: 15px;
  width: 15px;
  align-self: center;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
}
#switchitem {
  height: 7px;
  width: 7px;
  background-color: aliceblue;
  align-self: center;
  border-radius: 50%;
}

.request_btn {
  height: max-content;
  padding: 12px 16px;
  font-size: 1rem;
  color: #fffffd;
  background-color: #3abab4;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  align-self: center;
}

.card_middle{
  border: 1px solid green;
  padding-left: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.post{
  width:250px;
height:150px;
border: 1px solid blue;
}

.post__container{
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.title__link>h1{
font-size: 70px;
color:white;
}

.title>a:hover{
  text-decoration: none;
}

.subtitle{
  color:#9a9aa4;
  font-size: 25px;
}

.testimonial{
  border: 1px solid red;
  height: 80px;
  width: max-content;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.desc__testimonial{
  border: 1px solid blue;
  align-self: center;
  color: gray;
}

.desc__testimonial>a{
  color: white;
}

.green{
  background-color: #319391d7;
  background-image: url("./images/related-post-03.jpg");
  background-position: center;
  background-size: contain;
}

.purple{
  background-color: #319391d7;
  background-image: url("./images/related-post-04.jpg");
  background-position: center;
  background-size: contain;
}

.blu{
  background-color: #319391d7;
  background-image: url("./images/related-post-05.jpg");
  background-position: center;
  background-size: contain;
}

.red{
  background-color: #319391d7;
  background-image: url("./images/related-post-06.jpg");
  background-position: center;
  background-size: contain;
}