.section{
    height: 100vh;
    border: 1px solid black; 
}
.topbar{
    border: 1px solid rgb(9, 99, 110);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topbar_leftcontainer{
    height:100%;
    border: 1px solid blue;
    margin-left: 5vw;
    display: flex;
    gap: 40px;
}

.topbar_rightcontainer{
    height:100%;
    border: 1px solid rgb(255, 8, 0);
    width: max-content;
    display: flex;
    gap:15px;
    justify-content: space-around;
    margin-right: 5vw;
}


.logo{
    width:50px;
    height: 50%;
    border: 1px solid black;
    align-self: center;
}

.topbar_leftcontainer>a{
    font-size: 1rem;
    text-decoration: none;
    color:rgb(212 212 216);
    font-weight:bold;
    align-self: center;
}

.switchbtn{
    height: 25px;
    width: 45px;
    border-radius: 20px;
    background-color: #3abab4;
    display: flex;
    flex-direction: row-reverse;
    padding:3px;
    justify-content: space-between;
    align-self: center;
}

.switchbtn>div:first-child{
    background-color:#39393f;
    height: 20px;
    width: 20px ;
    align-self: center;
    border-radius: 50%;
}
.switchbtn>div:last-child{
    background-color:#80d2ce;
    height: 15px;
    width: 15px ;
    align-self: center;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
}
#switchitem{
    height: 7px;
    width: 7px;
    background-color: aliceblue;
    align-self: center;
    border-radius: 50%;

}

.request_btn{
    height: max-content;
    padding: 12px 16px;
    font-size: 1rem;
    color: #fffffd;
    background-color: #3abab4;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    align-self: center;
}

.post{
    height:147px;
    width: 258px;
    border:1px solid black;
}

.footer{
    height:362px;
    width: 100%;
    border: 1px solid black;
}
.logo__footer{
    height: 154px;
    width: 216px;
}
.products, .resources, .company, .support{
    height: 154px;
    width: 178px;
}

.section{
    background-image: url("./images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 15rem;
    z-index: -2;
}

.title{
    color: #ffffff;
}

h1{
    font-weight: 800;
    font-size: 3.5rem;
    letter-spacing: -.02em;
    text-decoration: none;
}

.title__link:hover{
    text-decoration: none;
}

.subtitle{
    color: gray;
    font-size: 1.5rem;
}

.bg{
    width: 100vw;
    height: 100vh;
    background-color:#39393f7e;
    position: absolute;
    z-index: -1;
}

.cont__img{
    background-image: url("./images/news-author-01.jpg");
    background-size: cover;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    border-radius: 50%;
}

.post__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-items: center;
    justify-content: space-between;
}

.post{
    margin: 10px;
}