body {
  padding: 0 20%;
  background-color: rgb(29, 29, 32);
  position: relative;
  z-index: 0;
}

.bg {
  width: 100%;
  z-index: -1;
  height: auto;
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-mask-image: linear-gradient(to top, transparent 12.5%, black 300%);
  mask-image: linear-gradient(to top, transparent 12.5%, black 300%);
}

/*inizio topbar------------*/
.topbar {
  align-items: center;
  height: 10vh;
}

.topbar__leftcontainer {
  height: 100%;
  gap: 4rem;
}

.topbar__button {
  height: 4rem;
  width: 13.7rem;
  padding: 0.8rem 1.6rem;
  outline: none;
  background-color: #3abab4;
  border: 1px;
  border-radius: 0.25rem;
  border-width: 1px;
  margin-top: 2rem;
  position: relative;
  z-index: 1;

}


.topbar__rightcontainer {
  height: 100%;
  gap: 1.5rem;
  position: relative;
  z-index: 1;
}


.logo {
  align-self: center;
  width: 3.6rem;
  height: 3.6rem;

}

.rightcontainer__switchbtn {
  height: 2.5rem;
  width: 4.5rem;
  border-radius: 2rem;
  background-color: #3abab4;
  display: flex;
  flex-direction: row-reverse;
  padding: 3px;
  align-self: center;
  position: relative;
  z-index: 1;
}

.rightcontainer__switchbtn>div:first-child {
  background-color: #39393f;
  height: 2rem;
  width: 2rem;
  align-self: center;
  border-radius: 50%;
}

.rightcontainer__switchbtn>div:last-child {
  background-color: #80d2ce;
  height: 1.5rem;
  width: 1.5rem;
  align-self: center;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
}

.rightcontainer__switchitem {
  height: 0.7rem;
  width: 0.7rem;
  background-color: aliceblue;
  align-self: center;
  border-radius: 50%;

}

.rightcontainer__requestBtn {
  height: max-content;
  padding: 1.2rem 1.6rem;
  color: #fffffd;
  background-color: #3abab4;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  align-self: center;
}


/*fine-topbar-----------*/

/*inizio-section1----------*/

.s1card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}


.s1card__testimonial {
  height: max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.s1card__description {
  align-self: center;
  color: gray;
}

.block__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6.4rem;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 25.8rem;
  height: 14.7rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.block__title {
  margin-bottom: 1rem;
}

.block__bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 0.2;
}

.block__bg:hover {
  transition: 0.7s;
  opacity: 0.6;
}

.green {
  background-color: #3abab4;
  background-position: center;
  background-size: contain;
  position: relative;
  z-index: 0;
}

.purple {
  background-color: #9f7aea;
  background-position: center;
  background-size: contain;
  position: relative;
  z-index: 0;
}

.blu {
  background-color: #667EEA;
  background-position: center;
  background-size: contain;
  position: relative;
  z-index: 0;
}

.red {

  background-color: #ED64A6;
  background-position: center;
  background-size: contain;
  position: relative;
  z-index: 0;
}

/*----------fine section 1------------*/
/*inizio-section2--------------*/

/*---fine section2*/

/*---inizio section3*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

.s2leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: max-content;
}

.s2rightContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.s2Card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5rem;
}

.latest__title {
  width: 100%;
  height: max-content;
}

.latest__images {
  width: max-content;
  height: max-content;
  display: flex;
  gap: 1rem;
}

.latest__images--leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  height: max-content;
  padding: 1rem 0.5rem 1rem 1rem;
  flex-wrap: wrap;
}

.latest__images--rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: max-content;
  padding: 1rem 1rem 1rem 0.5rem;
}

.testimonial__image {
  background-image: url("../images/news-author-01.jpg");
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  align-self: center;
}

.latest__title>h4 {
  margin-bottom: 3.2rem;
}

.article>div>.profile__picture>img {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  align-self: center;
}

li>div {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: max-content;
}

.article>picture {
  width: max-content;
}

.article>picture>img {
  height: 33%;
  width: 40rem;
}

.button__article {
  width: 21.8rem;
  height: 4rem;
  background-color: #2e2e33;
  color: #d4d4d8;
  font-size: 1.6rem;
  border: none;
  border-radius: 4px;
  padding: 0.8rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button__arrow {
  width: 1.6rem;
  height: 1.6rem;
  fill: #d4d4d8;
}

.profile__picture--container {
  height: max-content;
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.profile__picture--container>span {
  align-self: center;
}

.popular {
  align-self: flex-start;
}

.popular>ul>li>.popular__article {
  padding: 1rem 0;
}

.policy {
  padding: 0rem 3rem;

  height: max-content;

}

.buttons__logo {
  background-color: #2f3237;
  border: none;
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.buttons__container {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}