/*inizio-section1-------------*/


.s1card__title--link>h1{
    font-size: 7rem;
    color:white;
    }
.s1card__subtitle{
    color:#9a9aa4;
    font-size: 2.5rem;
    }

    .s1card__description>a{
        color: white;
      }

      /*inizio-section2----------*/

      article>p{
        color: white;
      }
