@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&display=swap');

/*inizio-section1-------------*/
* {
  font-family: 'Red Hat Display', sans-serif;
}

.s1card__title--link>h1 {
  font-size: 6.4rem;
  color: white;
}

.s1card__subtitle {
  color: #9a9aa4;
  font-size: 2rem;
}

.s1card__description>a {
  color: white;
}

.s1card__description {
  font-size: 1.6rem;
}

/*inizio-section2----------*/

article>p {
  color: white;
}

.block__title>span {
  box-sizing: border-box;
  font-size: 1.8rem;
  color: white;
  font-weight: 700;
}

.block__description {
  font-size: 1.4rem;
  color: white;
}

/*inizio-section3*/

.latest__title>h4 {
  font-size: 4.208rem;
}

article>a>h4 {
  font-size: 2.608rem;
  font-weight: 700;
}

article>p {
  font-size: 1.6rem;
  color: #a2a2a8;
  font-weight: 400;
}

.article>div>span {
  color: #6e6e76;
  font-size: 1.4rem;
}

.article>div>span>a {
  font-size: 1.4rem;
  color: #a2a2a8;
  font-weight: 500;
}

/*column-right-----*/

.popular>h4 {
  font-size: 2.608rem;
}

.title>a>h4 {
  font-size: 1.6rem;
}

li>div>.num {
  font-size: 2.608rem;
  gap: 1rem;
}

li>div>span {
  color: #6e6e76;
  font-size: 1.4rem;
}

li>div>span>a,
li>div>span>a:visited {
  color: #a2a2a8;
  font-size: 1.4rem;
}

.num>.align-self-center {
  font-size: 2.608rem;
  font-weight: 700;
  color: #52525a;
}