body {
    background-color: #39393f;
}

header {
    height: min-content;
}

footer {

    color: white;
    gap: 30px;
    justify-content: center;
    border: 1px solid blue;
    margin-top: 5rem;

}

section {
    border-left: none;
    border-right: none;
    max-height: max-content;
    min-height: min-content;

}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
    color: white;
}

h5 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
}

a {
    font-size: 2rem;
}

button {
    font-size: 1.5rem;
}