/*-------------- TOPBAR -------------- */


.topbar__leftcontainer>a {
    text-decoration: none;
    color: rgb(212 212 216);
    font-weight: bold;
    align-self: center;

}

.topbar__button {
    color: white;
    font-weight: 800;

}

/*-------------- END OF TOPBAR -------------- */


/*------------ TOP BAR --------------*/
/*------------ END OF TOP BAR --------------*/


/*----------------- FIRST SECTION -----------------*/
.s1title {
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.s1title>span {
    color: #3abab4;
}

/*----------------- END OF FIRST SECTION -----------------*/
/*----------------- SECOND SECTION -----------------*/

.s2topCard>h1 {
    align-self: center;
    color: white;
}

.s2topCard>p {
    align-self: center;
    color: grey;
}

.s3topCard>p {
    color: gray;
}



/*Sixth section*/

.s6title>h2 {
    align-self: center;
    color: white;
}

.s6title>p {
    align-self: center;
    color: #A2A2A8;
}

.s6img>.profile__container>.name>h4 {
    color: #D4D4D8;
    font-size: 1.8rem;
    font-weight: 300;
}

/*footer*/

.s6list {

    font-size: 14px;
    color: grey;

}

/*----------------- END OF FIRST SECTION -----------------*/
/*----------------- FOURTH SECTION -----------------*/
.s4topCard__title {
    font-size: 5rem;
    align-self: center;
}

.s4topCard__description {

    color: grey;
    align-self: center;
}


.s4list>h3 {

    color: white;
    font-size: 25px;
}

.s7list__block>ul {
    color: #A2A2A8;
    font-size: 1.4rem;
    line-height: 1.4;
}