/*topbar*/

.topbar {
    background-color: rgba(0, 0, 0, 0.637);
    border: 1px solid rgb(9, 99, 110);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topbar_leftcontainer {
    height: 100%;
    border: 1px solid blue;
    margin-left: 5vw;
    display: flex;
    gap: 40px;
}

.topbar_rightcontainer {
    height: 100%;
    border: 1px solid rgb(255, 8, 0);
    width: max-content;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin-right: 5vw;
}


.topbar_leftcontainer>a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(212 212 216);
    font-weight: bold;
    align-self: center;
}



.switchbtn {
    height: 25px;
    width: 45px;
    border-radius: 20px;
    background-color: #3abab4;
    display: flex;
    flex-direction: row-reverse;
    padding: 3px;
    justify-content: space-between;
    align-self: center;
}

.switchbtn>div:first-child {
    background-color: #39393f;
    height: 20px;
    width: 20px;
    align-self: center;
    border-radius: 50%;
}

.switchbtn>div:last-child {
    background-color: #80d2ce;
    height: 15px;
    width: 15px;
    align-self: center;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
}

#switchitem {
    height: 7px;
    width: 7px;
    background-color: aliceblue;
    align-self: center;
    border-radius: 50%;

}

/*end topbar*/

/*first--section*/

.request_btn {
    height: max-content;
    padding: 12px 16px;
    font-size: 1rem;
    color: #fffffd;
    background-color: #3abab4;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    align-self: center;
}

.background-img {
    height: 100vh;
    width: 100vw;
    border: 1px solid rgb(64, 187, 228);

    background-image: url("../asset/hero-bg-03.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.img-square {
    height: 400px;
    width: 700px;
    border: 1px solid rgb(255, 0, 128);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    background-image: url("../asset/about-hero.jpg");
    background-size: contain;
    position: absolute;
    z-index: 0;
}

.logo {
    width: 50px;
    height: 50%;
    border: 1px solid black;
    align-self: center;
}

.background-black {
    background-color: rgba(0, 0, 0, 0.637);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;

}

/*end first section*/

/*second section*/

.s2topCard {

    height: max-content;
    width: 100%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}

.s2bottomCard {

    height: max-content;
    width: 100%;
    border: 1px solid aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.s3 {
    display: flex;
    flex-wrap: wrap;
}

.s3topCard {
    height: max-content;
    width: 100%;
    border: 1px solid aqua;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.s3leftBar {
    height: max-content;
    width: max-content;
    border: 1px solid aqua;
    display: flex;
    flex-direction: column;
}

.s3bottomBox {
    height: max-content;
    width:max-content; 
    border: 1px solid aqua;
    display: flex;
}

.s3bottomBox>a {
    color: #3abab4;
    border: 1px solid green;
}
/*end third section*/

/*fourth section*/
.s4topCard{
    height: max-content;
    width: max-content;
    border: 1px solid green;
}

.s4leftNav{
    height: max-content;
    width: max-content;
    border: 1px solid green;
}

.s4leftNav>a {
    color:#3abab4;
}

.s4careersBox{
    height: max-content;
    width: max-content;
    border: 1px solid violet;
}
/*end fourth section*/

/*fifth section*/

.s5upperCard

{
    height: max-content;
    width: max-content;
    border: 1px solid violet;
    display: flex;
    justify-content: center;
}

.s5Graphic {

    height: max-content;
    width: 100%;
    border: 1px solid violet;
    display: flex;
    justify-content: center;  
}

/*end of fifth section*/

/*Sixth section*/
.s6title {
    width: 100%;
    height: 20rem;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s6img {
    width: 100%;
    height: 50rem;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.s6img>.profile__container {
    border: 1px solid green;
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s6img>.profile__container>picture {
    width: 8rem;
    height: 8rem;
    align-self: center;
}

.s6img>.profile__container>picture>img {
    border-radius: 50%;
}

.s6img>.profile__container>.icon {
    width: 2rem;
    height: 2rem;
    align-self: center;
}

/*end of sixth section*/

/*footer*/

.fmain {
    width: 2rem;
    height: 2rem;
    border: 1px solid salmon;
    display: flex;
    flex-direction: row;
}

.fmain_prod {}

.fmain_res {}

.fmain_comp {}

.fmain_supp {}