header {
    height: min-content;
}

@media screen and (max-width: 600px) {

    .header {
    
        width: 100%;
    }
        
    }

footer {
    color: white;
    gap: 30px;
    justify-content: space-between;
    border: 1px solid blue;
    margin-top: 5rem;
    width: 100%;
}



section {
    width: 100%;
    height: max-content;
}

h1 {
    font-size: 6rem;
    font-family: 'Red Hat Display', sans-serif;
    ;
    color: white;
    font-weight: 900;
    font-style: black;

}

@media screen and (max-width: 600px) {

    h1 {

        font-size: 4rem;
    }
}

h2 {
    font-size: 5rem;
    font-family: 'Red Hat Display', sans-serif;
}

@media screen and (max-width: 600px) {

    h2 {

        font-size: 3.5rem;
    }
}

h3 {
    font-size: 4rem;
    font-family: 'Red Hat Display', sans-serif;
    font-style: black;
    font-weight: 900;
}

@media screen and (max-width: 600px) {

    h3 {

        font-size: 3rem;
    }
}

h4 {
    font-size: 3rem;
    font-family: 'Red Hat Display', sans-serif;
}

@media screen and (max-width: 600px) {

    h4 {

        font-size: 2.5rem;
    }
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1rem;
    font-family: inter;
    font-style: medium;
}

@media screen and (max-width: 600px) {

    h4 {

        font-size: 9px;
    }
}

p {

    font-family: inter;
    font-weight: regular;
    line-height: 1.4;
    font-size: 2rem;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    
    p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {

    p {

        font-size: 1.5rem;
    }
}

a {
    font-size: 1.6rem;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    
    a {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {

    a {

        font-size: 8px;
    }
}

button {
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

body {

    background-color: #1d1d20;
    padding: 0% 10%;

}


li {
    list-style: none;
}