/*first section*/

.text1 {

    font-size: 60px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.text-2 {
    color: #3abab4;
}

/*end first section*/
/*second section*/

.s2topCard>h1 {
    align-self: center;
    color: white;
}

.s2topCard>p {
    align-self: center;
    color: grey;
    
}

/*Sixth section*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Inter', sans-serif;
}

.s6title>h2{
    align-self: center;
    color: white;

}

.s6title>p{
    align-self: center;
    color: #A2A2A8;
}

.s6img>.profile__container>.name>h4{
    color: #D4D4D8;
    font-size: 1.8rem;
    font-weight: 300;

}